div.output-container {
    width: 50%;
    float: left;
    text-align: center;
    font-size: large;
    padding: 1.25rem 0;
}

.clear{
    clear: both;
    line-height: 0;
    font-size: 0;
}

nav {
    background-color: #fff;
    padding: 0 1rem;
    border-bottom: hsl(205deg, 14%, 68%) 1px solid;
}

body > main {
    padding: 0;
}